<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>

</head>

<body>
    <div class="main-container login-form">

        <div class="yummie">
            <h1 class="heading">Yummie Wheelz</h1>
        </div>



        <div class="card">
            <div class="card-body">
                <div class="offest-md-4">

                    <form class="form-login">
                        <!-- Email input -->
                        <div class="form-outline mb-4 outline">

                            <!-- Simple link -->

                            <input type="text" id="form2Example1" class="form-control" placeholder="Name">

                        </div>
                        <div class="form-outline mb-4 outline">

                            <input type="email" id="form2Example1" class="form-control" placeholder="E-mail">
                        </div>
                        <!-- Password input -->
                        <div class="form-outline mb-4 outline">

                            <!-- Simple link -->

                            <input type="password" id="form2Example2" class="form-control" placeholder="Password">
                        </div>
                        <!-- 2 column grid layout for inline styling -->
                        <div class="row mb-4">
                            <div class="col d-flex">
                                <!-- Checkbox -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="form2Example31"
                                        checked="">
                                    <label class="form-check-label" for="form2Example31"> Agree to the terms and
                                        conditions</label>
                                </div>


                            </div>
                        </div>

                        <p class="text-center or">or</p>
                        <p class="text-center select">Select one</p>
                </div>
                <div class="img-logo d-flex justify-content-center gap-3 m-4">
                    <div><img src="assests/Frame 7.png" alt="logo"></div>

                    <div>
                        <img src="assests/Frame 8.png" alt="logo">
                    </div>


                </div>

                <!-- Submit button -->
                <div>
                    <button type="button" class="col-12 btn btn-block mb-4 cust-btn">Sign
                        in</button>
                </div>
                <div>
                    <p class="text-center form-check-label"> Already a member? then
                        SIGN IN </p>
                    <p class=" text-center form-check-label"> WANNA WANDER THE GHOST KITCHENS..?
                        THEN ENTER GUEST MODE</a></p>
                </div>
                </form>
            </div>
        </div>

    </div>

</body>

</html>
